*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(31, 42, 62);
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vh;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1 rem rgba(0, 0, 0.3);
    font-size: 8vmin;
    color: rgb(11, 81, 100);
    background-color: rgb(192, 192, 117);
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(33, 31, 31);
    color: aliceblue;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(33, 31, 31);
    color: aliceblue;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: #ffffc7;
    font-size: 5vmin;
}
.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }